.container {
    border: solid 2px black;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;

}

.header{
    border: solid 2px black;
    background-color: black;
    color: white;

}
.data {
    border: solid 2px black;
    text-align: center;

}
.type {
    display: inline-block;
}

.type::first-letter {
    text-transform: uppercase;
 
}

.row:nth-child(even) {
    background-color: lightgrey;
}